# --- Eclipse ---
.metadata/
.recommenders/
RemoteSystemsTempFiles/
.settings/
.classpath
.project

# --- Compilados (Output) ---
bin/
*.class

# --- Sistema Operativo ---
Thumbs.db
desktop.ini
.DS_Store

# --- Otros ---
*.log
